# Ignorar a pasta do ambiente virtual
venv/

# Ignorar arquivos de cache do Python
__pycache__/
*.pyc

# Ignorar o banco de dados SQLite
db.sqlite3

# Ignorar arquivos de configuração sensíveis
.env
*.log
*.sqlite3

# Ignorar a pasta de uploads
media/

# Ignorar arquivos do sistema
desktop.ini

# Ignorar o executável do Ngrok
ngrok.exe

# Ignorar arquivos do Blender
*.blend

# Ignorar backups ou arquivos temporários
*.bak
*.tmp

# Ignorar a pasta staticfiles gerada pelo Django
staticfiles/